<form class="" action="/outfit_entries/search_results" method="get">

  <label for="content">Content:</label>
  <input type="text" name="content">

  <input type="submit" name="" value="Search Entry">
</form>